p{
    justify-content: center;
    text-align: center;
    color: blue;
}
.pictureContainer{
    display: flex;
    justify-content: center;
}

.textContainer{
    display: flex;
    justify-content: center;
}